/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.fixed-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#statistics {
    text-align: left;
}

.imc-image {
    max-height: 256px !important;
}

.modal {
    width: 70% !important;
    max-height: 96% !important;
}

#image-info {
    padding: 50px;
}

.carousel {
    height: 256px !important;
}

.scroll-loader {
    width: 256px;
    height: 256px;
    background-image: url("../images/loading.gif");
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-edit {
    bottom: 25px !important;
    right: 80px !important;
}

.btn-delete {
    bottom: 25px !important;
}

.map-image {
    height: 100% !important;
    cursor: pointer;
}