{% extends '@Gui/base.html.twig' %}

{% block title %}Image Locations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/googlemap.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12 googlemap">
            <div id="map"></div>
        </div>
    </div>
    <div id="modal" class="modal">
        <div id="image-container" class="modal-content">
        </div>
    </div>
    <div>
        <form>
            <input type="hidden" id="list-api-url" name="list_api_url" value="{{ url('list_images') }}"/>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.modal').modal();
            Materialize.toast('Click on the map markers to reveal images', 4000, 'rounded');
        });
    </script>
    <script src="{{ asset('assets/js/googlemap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap"
            async defer></script>
{% endblock %}