{% extends '@Gui/base.html.twig' %}

{% block title %}Image Locations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/googlemap.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12 googlemap">
            <div id="map"></div>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="row modal-content">
            <div class="col s7" id="image-info"></div>
            <div class="col s5">
                <div class="row"><h4>Images in this location</h4></div>
                <div class="row" id="image-container"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                inDuration: 300, // Transition in duration
                outDuration: 200, // Transition out duration
                startingTop: '4%', // Starting top style attribute
                endingTop: '10%' // Ending top style attribute
            });

            Materialize.toast('Click on the map markers to reveal images', 4000, 'rounded');
        });
    </script>
    <script src="{{ asset('assets/js/googlemap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap"
            async defer></script>
{% endblock %}