{% extends '@Gui/base.html.twig' %}

{% block title %}Test{% endblock %}

{% block content %}
    <div class="materialboxed">
        <div class="row">
            <img src="http://materializecss.com/images/sample-1.jpg" data-caption="A picture of a way with a group of trees in a park" />
        </div>
        <div class="row">
            <p>This is a test material box</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}