box: laravel/homestead
ip: 192.168.10.10
memory: 8192
cpus: 4
provider: virtualbox
mariadb: true
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: 'E:\imc'
        to: /home/vagrant
        type: "nfs"
sites:
    -
        map: homestead.test
        to: /home/vagrant/web
        type: symfony
databases:
    - imc
name: imc
hostname: imc
