# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 3306
    database_name: imc
    database_user: homestead
    database_password: secret
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Test database's name
    test_database_name: imc_test

    # Image default configurations
    image_min_width: 400
    image_min_height: 400
    image_directory: '%kernel.root_dir%/../web/downloaded/images/'
    image_thumbnail_directory: '%kernel.root_dir%/../web/downloaded/thumbnails/'

    # Google Geocode API credentials
    google_geocode_url: 'https://maps.googleapis.com/maps/api/geocode/json'

    # Google Map API key for rendering
    google_map_api_key: ~

    # Geoparser service API credentials
    geoparser_url: 'https://geoparser.io/api/geoparser'
    geoparser_api_key: ~
    secondary_geoparser_url: 'https://geocode.xyz/'
    secondary_geoparser_api_key: ~

    # Other configurations
    algorithm: befs # Crawling algorithm. Accepted values: dfs, bfs, befs
    http_verify_ssl: false
    allowed_image_extensions:
        - jpg
        - jpeg
        - png
        - svg
    exif_tool_path: '%kernel.root_dir%/../exiftool/'
    server_memory_limit: '6G'
    crawling_task_limit: 1000
    maximum_geoparser_retry: 3
    allowed_aspect_ratios: [1, 1.25, 0.8, 1.33, 0.75, 1.5, 0.67, 1.67, 0.6, 1.78, 0.56, 3, 0.33]
    non_rep_image_keywords: ["logo", "banner", "header", "footer", "button", "free", "adserver", "advertisement", "ads", "now", "buy", "join", "click", "affiliate", "adv", "hits", "counter", "sprite"]
    banned_hosts: ["www.facebook.com", "www.instagram.com", "www.pinterest.com", "twitter.com", "www.reddit.com", "ask.fm", "www.tumblr.com", "plus.google.com", "www.meetup.com", "qzone.qq.com", "weibo.com", "ok.ru", "vk.com"]
