{% extends 'GuiBundle:MopsiCrawler:base.html.twig' %}

{% block title %}Image Locations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/googlemap.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
    <div class="row center googlemap">
        <div id="map"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/googlemap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap"
            async defer></script>
{% endblock %}