{% extends '@Gui/base.html.twig' %}
{% set active_menu = 'verify' %}
{% block content %}
    <div class="row center-align">
        <h3>There are no geoparsed image to be verified!</h3>
    </div>
{% endblock %}
